/*
 * Stylesheet for APP_NAME
 */

@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    src: local('Josefin Slab Regular'), url(../fonts/JosefinSlab-Regular.ttf);
}

body {
    /*font-family: 'Josefin Slab';*/
    color: #333333;
}

h2.error-page-title {
    font-size: 3rem;
}

h3 {
    border-bottom: 2px solid #12385f;
    padding: 5px;
    color: #12385f;
}

h4 {
    padding: 5px;
    color: #218bb4;
}

h4.underline {
    border-bottom: 2px solid #218bb4;
}

a {
    color: #12385f;
}

a:hover {
    color: #218bb4;
}

i.bigger-icon {
    font-size: larger;
}

div.row p {
    text-align: justify;
}

img.app-logo {
    max-height: 40px;
}

img.picture-thumb {
    max-width: 500px;
    height: 300px;
}

div.content {
    padding-top: 40px;
}

pre.search-example {
    background-color: #dceaf0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.error {
    color: #CC0000;
}


#image_template span.title {
    background-color: #333333;
    padding: 10px;
}

a.title {
    color: #ffffff;
    text-decoration: none;
}

a:hover .title {
    color: #ffffff;
    text-decoration: none;
}

body > div.container-fluid, footer > div.container-fluid {
    margin-top: 3em;
}

/*
Customization of Bootstrap's pagination
*/

.pagination > li {
    color: #ffffff !important;
    background-color: #12385f !important;
    border-color: #ffffff !important;
}
.pagination > li > a {
    color: #12385f !important;
}
.pagination > .disabled > a {
    color: #999999 !important;
}
.pagination > .active > a
{
    color: white !important;
    background-color: #12385f !important;
    border: solid 1px #12385f !important;
}
ul.pagination > li > a:focus,
ul.pagination > li > a:hover,
ul.pagination > li > span:focus,
ul.pagination > li > span:hover {
    z-index: 3;
    color: #ffffff !important;
    background-color: #12385f !important;
    border-color: #ffffff !important;
}

.custom-select {
    list-style-type: none;
    padding-left: 0em;
}

.form-text {
    display: block;
    margin-bottom: .5rem !important;
}

input:not([type=submit]), select, textarea {
    margin-bottom: .5rem !important;
}

ul.nav-tabs{
    background-color: lightcyan;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}